
body{background-color:  #141E46;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
min-height: 3000x;
}
h1{
    margin-top: 12rem;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0.5rem;
    color: #FFF5E0;
}
button{
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color:#FF6969;
    height: 25px;
    width: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.5rem;
    color: #FFF5E0;
    border-style: double;
    font-size: medium;
    font-style: italic;
    border-color: #FF6969;
}
span{
    color:#FF6969;
}
button:hover{
    background-color: #C70039;
    color: #FF6969;
}
